In [38]:
# K MEANS CLUSTER

In [2]:
import pandas as pd
data = pd.read_csv("data.csv",header = None)
data

     0
0   15
1   15
2   16
3   19
4   19
5   20
6   20
7   21
8   22
9   28
10  35
11  40
12  41
13  42
14  43
15  44
16  60
17  61
18  65

In [3]:
data = data.to_numpy()

In [4]:
c1 = 16
c2 = 21
pc1 = 0

In [5]:
while pc1 != c1:
    print(c1,c2)
    i = 0
    c1sum = 0
    c2sum = 0
    c1size = 0
    c2size = 0
    while data.size != i:
        temp = data[i] - c1
        if temp <0:
            temp *= -1
        distance1 = temp
        temp = data[i] - c2
        if temp <0:
            temp *= -1
        distance2 = temp
        if distance1 < distance2:
            c1size += 1
            c1sum += int(data[i])
        else:
            c2size += 1
            c2sum += int(data[i])
        i += 1
    pc1 = c1
    c1 = c1sum / c1size
    c2 = c2sum / c2size

16 21
15.333333333333334 36.25
18.555555555555557 45.9
19.5 47.888888888888886

In [6]:
c2

47.888888888888886

In [7]:
i = 0
c1arr = []
c2arr = []
while data.size != i:
    distance1 = data[i] - c1
    if distance1 < 0:
        distance1 *= -1
    distance2 = data[i] - c2
    if distance2 < 0:
        distance2 *= -1
    if distance1 < distance2:
        c1arr.append(int(data[i]))
    else:
        c2arr.append(int(data[i]))
    i += 1

In [8]:
c1arr

[15, 15, 16, 19, 19, 20, 20, 21, 22, 28]

In [9]:
c2arr

[35, 40, 41, 42, 43, 44, 60, 61, 65]